/* #playlist-viewer {
    margin: 20px; 
    width: 18%;
    text-align: center;
    height: 240px;
  
} */

#playlist-viewer img {
    height: 150px;
    width: 150px;
    
}

mat-card {
    width: 180px;
    height: 250px;
    display: inline-block;
    margin: 20px;
    text-align: center;
}
h1{
    color: white;
    padding-top: 15px; 
}
h3
{
    margin-top: -15px;
    color: white;
}

mat-slider {
    
    width: 650px;
  }

.slider{
    margin-top: -5px;
    margin-left: 261px;
}  

.sound{
    width: 100px;
}

